@import "../../utils/variables.scss";

.main {
    width: $content-widtht;
    height: $content-height;
    border-radius: $content-border-radius;
    background-color: $main-dark-color;
}

.scroll-content {
    height: $scroll-height;
    margin-right: 15px;
    margin-top: 25px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: $scroll-color $main-dark-color;
}

.scroll-content::-moz-scrollbar {
    @extend %scroll-content-moz;
}

.scroll-content::-webkit-scrollbar {
    @extend %scroll-content-webkit;
}

.scroll-content::-webkit-scrollbar-thumb {
    border-radius: $content-border-radius;
    background: $scroll-color;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $scroll-color;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .main{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: $main-dark-color;
    }
}
