@import "../../utils/variables.scss";

.main {
    background-color: $main-dark-color;
    border-radius: $content-border-radius;
    width: $content-widtht;
    height: $content-height;
}

.scroll-content {
    height: $scroll-height;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-right: 15px;
    margin-top: 25px;

    scrollbar-width: thin;
    scrollbar-color: $scroll-color $main-dark-color;
}

.scroll-content::-moz-scrollbar {
@extend  %scroll-content-moz;
}

.scroll-content::-webkit-scrollbar {
@extend  %scroll-content-webkit;
}

.scroll-content::-webkit-scrollbar-thumb {
    background: $scroll-color;
    border-radius: $content-border-radius;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $scroll-color;
}
