body {
    color: #d5d5d5;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

h2 {
    position: relative;
    z-index: 1;
}

h2::after {
    font: inherit;
    position: absolute;
    opacity: 0.45;
    top: 25px;
    left: 130px;
    content: "";
    height: 30px;
    width: 50px;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        #04b4e0,
        #04b4e0 1px,
        transparent 0px,
        transparent 100%
    );
    background-image: -moz-repeating-radial-gradient(
        center center,
        #04b4e0,
        #04b4e0 1px,
        transparent 0px,
        transparent 100%
    );
    background-size: 6px 6px;
    z-index: -1;
}
