@import '../../utils/variables.scss';

.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    &__header {
        font-size: 2rem;
        padding: 20px 0;
    }

    &__content {
        line-height: 2em;
        text-align: justify;
        text-indent: 3%;
        ul li:before {
            text-indent: 4px;
            position: absolute;
            margin-left: -1.1em;
        }
    }

    &__certificates {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
       
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 15px;
            margin: 20px;
            background-color: $mini-window-grey-color;
            border: 1px solid $mini-window-border-grey-color;
        }
    }
}

.certificate-true {
    color: rgb(80, 248, 80);
}

.certificate-false {
    color: rgb(236, 253, 2);
}

.cert-img {
    padding: 20px;
    width: 300px;
}

.button__download{
    background-color: $main-dark-color;
    border: 3px solid $border-btn-color;
    border-radius: 2em;
    line-height: 2.5;
    margin: 0.25em;
    padding: 0.2em 1em;
    width: 14em;
    text-transform: uppercase;
}