@import "./utils/variables.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $wrapper-height;
    width: $wrapper-width;
}

.content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $content-widtht;
    height: $content-height;
    border-radius: $content-border-radius;
    font-family: "Roboto", sans-serif;
    background-color: $back-color;
    color: $color-white;
}

.back {
    position: relative;
    z-index: 1;
    height: $wrapper-height;
    background: $border-btn-color;
}

.back-image {
    position: absolute;
    z-index: -1;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    width: auto;
    height: auto;
    background-image: url("./images/main_background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 0px) and (max-device-width: 1024px) {
    .wrapper {
        background-color: $main-dark-color;
    }

    .back {
        background: transparent;
        background: none;
    }
    .back-image {
        position: static;
        background-image: none;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .content {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        font-family: "Roboto", sans-serif;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .wrapper {
        background-color: $main-dark-color;
    }

    .back-image {
        position: static;
        background-image: none;
        background-color: none;
    }
}

// /* Smartphones (landscape) ----------- */
// @media only screen
// and (min-width: 321px) {
//      .back-image {
//         position: static;
//         background-image: none;
//     }

//     .wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 100%;
//         width: 100%;
//     }

//     .content {
//         flex-direction: row;
//         width: 100vw;
//         height: 100vh;
//         border-radius: 0px;
//         font-family: "Roboto", sans-serif;
//     }
// }

// /* Smartphones (portrait) ----------- */
// @media only screen
// and (max-width: 320px) {
//     .back-image {
//         position: static;
//         background-image: none;
//     }

//     .wrapper {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 100%;
//         width: 100%;
//     }

//     .content {
//         flex-direction: row;
//         width: 100vw;
//         height: 100vh;
//         border-radius: 0px;
//         font-family: "Roboto", sans-serif;
//     }
// }
