$back-color: #6a6565;
$right-side: #242424;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.content {
    position: relative;
    z-index: 10;
    width: 1280px;
    height: 80vh;
    background-color: $back-color;
    border-radius: 35px;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

.back {
    position: relative;
    background: rgba(4, 180, 224, 255);
    z-index: 1;
    height: 97vh;
}

.back-image {
    position: absolute;
    width: auto;
    background-image: url("./images/main_background.png");
    height: auto;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    // background: rgba(4, 180, 224, 255);
}
// .bg {
//     position: absolute;
//     width: auto;
//     height: auto;
//     top: -28px;
//     left: -28px;
//     right: -28px;
//     bottom: -28px;
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;
//     background: rgba(4, 180, 224, 255);
// }
