@import "./utils/variables.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $wrapper-height;
    width: $wrapper-width;
}

.content {
    width: $content-widtht;
    height: $content-height;
    border-radius: $content-border-radius;

    position: relative;
    z-index: 10;
    background-color: $back-color;
    color: $color-white;
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
}

.back {
    position: relative;
    background: $border-btn-color;
    z-index: 1;
    height: $wrapper-height;
}

.back-image {
    position: absolute;
    width: auto;
    background-image: url("./images/main_background.png");
    height: auto;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
