@import "./utils/variables.scss";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.category__header {
    z-index: 0;
    position: relative;
}
.category__header::after {
    @extend %points;
}
