@import "../../utils/variables.scss";

.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $block-padding;
    &__header {
        @extend %h2-title;
    }
    &__content {
        @extend %content;

        tbody tr {
            height: $tbody-tr-height;
            td:first-child {
                width: $tbody-td-width;
            }
        }
    }
    &__certificates {
        @extend %ul-category;
        flex-direction: column;
        li h4 a {
            transition: all 0.5s ease-in;
        }
        li h4 a:hover {
            color: $border-btn-color;
        }
    }
}

.certificate-true {
    color: $certificate-true-color;
    @extend %certificate-label-font;
}
.certificate-false {
    color: $certificate-false-color;
    @extend %certificate-label-font;
}

.cert-img {
    padding: $certificate-image-padding;
    width: $certificate-image-width;
}

.button__download {
    margin-top: 1em;
    padding: 0.2em 1em;
    border: 2px solid $border-btn-color;
    text-transform: uppercase;
    @extend %btn-font;
    background-color: $main-dark-color;
}

.button__download:hover {
    cursor: pointer;
    color: $border-btn-color;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    .education {
        &__content {
            font-size: 3vw;
        }
    }
    .certificate-true {
        font-size: 1vw;
    }
    .certificate-false {
        font-size: 1vw;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .education {
        &__header {
            font-size: 11vw;
        }
        &__content {
            font-size: 5vw;
        }
        &__certificates li img {
            width: 50vw;
        }

        &__certificates li h4 {
            font-size: 7vw;
        }
    }

    .certificate-true {
        display: none;
    }
    .certificate-false {
        display: none;
    }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .education {
        &__header {
            font-size: 7vw;
        }
        &__content {
            font-size: 3.5vw;
        }
        &__certificates li img {
            width: 50vw;
        }

        &__certificates li h4 {
            font-size: 3vw;
        }
    }

    .certificate-true {
        font-size: 2vw;
    }
    .certificate-false {
        font-size: 2vw;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 812px) {
    .education {
        &__header {
            font-size: 7vw;
        }
        &__content {
            font-size: 3.5vw;
        }
        &__certificates li img {
            width: 50vw;
        }

        &__certificates li h4 {
            font-size: 3vw;
        }
    }

    .certificate-true {
        display: none;
    }
    .certificate-false {
        display: none;
    }
}
