@import "../../utils/variables.scss";

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $block-padding;
    &__header {
        @extend %h2-title;
    }
    &__category {
        ul {
            display: flex;
            justify-content: flex-start;
        }
        li {
            padding-right: 12px;
            @extend %h4-title;
            color: $category-inactive;
        }
        li:first-child {
            font-weight: bold;
            color: $category-active;
        }
        li:hover {
            cursor: pointer;
            font-weight: bold;
            color: $category-hover;
        }
    }
    &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        li {
            display: flex;
            flex-direction: column;
            h4 {
                @extend %h4-title;
            }
        }
    }
    &__project {
        position: relative;
        overflow: hidden;
        img {
            width: $portfolio-image-width;
        }
        img:hover {
            transition: all 0.3s ease-in-out;
            transform: scale(1.5);
        }
        span {
            position: absolute;
            top: 10px;
            left: 10px;
            visibility: hidden;
            padding: 5px 10px;
            background-color: $main-dark-color;
        }
    }
    &__project:hover {
        span {
            visibility: visible;
        }
    }
}
