@import "../../utils/variables.scss";

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 60px;
    &__header {
        font-size: 2rem;
        line-height: 3.5em;
    }

    &__category {
        ul {
            display: flex;
            justify-content: flex-start;
        }
        li {
            padding-right: 12px;
            color: $category-inactive;
        }
        li:first-child {
            color: $category-active;
        }
        li:hover {
            cursor: pointer;
            color: $category-hover;
        }
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: flex-start;
        width: 100%;
        li {
            display: flex;
            flex-direction: column;
            margin: 20px;
            h3 {
                margin-top: 15px;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }

    &__project {
        position: relative;
        overflow: hidden;
        img {
            width: 300px;
        }
        img:hover {
            transition: all 0.3s ease-in-out;
            transform: scale(1.5);
        }
        span {
            visibility: hidden;
            position: absolute;
            background-color: $main-dark-color;
            padding: 5px 10px;
            top: 10px;
            left: 10px;
        }
    }
    &__project:hover {
        span {
            visibility: visible;
        }
    }
}
