@import "../../utils/variables.scss";

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $block-padding;
    &__header {
        @extend %h2-title;
        position: relative;
        z-index: 1;
        box-sizing: inherit;
        visibility: visible;
    }
    &__content p {
        @extend %content;
        text-align: justify;
        text-indent: 3%;
    }
    &__skills ul li {
         @extend %content;
    }

    &__skills ul li b {
        font-weight: 700;
    }
}
