@import "../../utils/variables.scss";

.aside {
    display: grid;
    grid-template-areas:
        " . . ."
        " . photo . "
        " . name-surname ."
        " . position . "
        " . burger-links . "
        " . links . "
        " . button ."
        " . . ."
        " . copyright . ";
    grid-template-columns: auto 26vw auto;
    grid-template-rows: 10vh 20vw 2vw 3vw 4vw 1vw 6vw auto 20px;
    justify-items: center;
    align-items: center;
    width: $aside-width;
    height: $content-height;
    color: $color-white;
    &__photo-wrapper {
        position: relative;
        grid-area: photo;
    }
    &__photo-wrapper::after {
        @extend %-points-aside-img;
    }
    &__photo {
        width: 15vw;
        border: 3px solid $color-white;
        border-radius: 50%;
    }
    &__header {
        grid-area: name-surname;
        @extend %h2-title;
        line-height: 1em;
    }
    &__position {
        grid-area: position;
        @extend %h4-title;
    }
    &__burger-links{
        grid-area: burger-links;
    }
    &__social-networks {
        grid-area: links;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: $aside-icons-width-grid;
    }
    &__footer {
        grid-area: copyright;
        @extend %copyright;
    }
}

.button {
    grid-area: button;
    border: 2px solid $color-white;
    width: $button-aside-width;
    @extend %btn-font;
        transition: 500ms linear;
}

.button:hover {
    cursor: pointer;
    background-color: $border-btn-color;
    opacity: 0.5;
    transition: 500ms linear;
}

.link-vk,
.link-facebook,
.link-linkedin {
    @extend %icons-props;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .aside{
        grid-template-rows: 10vh 20vw 2vw 3vw 4vw 1vw 6vw auto 20px;
        height: 100vh;
        font-family: "Roboto", sans-serif;
    }

    .aside__wrapper{
       display: none;
    }
}
