@import "../../utils/variables.scss";

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: $block-padding;
    &__header {
        @extend %h2-title;
    }
    &__content {
        display: flex;
    }
    &__content ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: $contact-card-width;
        height: 100px;
        margin: 20px;
        border: 1px solid $mini-window-border-grey-color;
        background-color: $mini-window-grey-color;
        font-weight: 500;
        img {
            width: 40px;
            filter: invert(54%) sepia(58%) saturate(3084%) hue-rotate(156deg) brightness(100%)
                contrast(97%);
        }
    }
    &__map {
        padding: 20px;
    }
    &__yandex-map {
        width: $yandex-map-width;
        height: $yandex-map-height;
    }
}
