@import "../../utils/variables.scss";

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $block-padding;
    &__header {
        @extend %h2-title;
    }
    &__category {
        ul {
            display: flex;
            justify-content: flex-start;
        }
        li {
            padding-right: 12px;
            @extend %h4-title;
            color: $category-inactive;
        }
        li:hover {
            cursor: pointer;
            font-weight: bold;
            color: $category-hover;
        }
    }
    .portfolio__category-active {
        font-weight: bold;
        color: $category-active;
    }
    &__projects {
        @extend %ul-category;

        li {
            img {
                width: 20vw;
            }

            h4 a {
                transition: all 0.5s ease-in;
            }
            h4 a:hover {
                text-transform: uppercase;
                color: $border-btn-color;
            }

            span {
                width: 7vw;
                font-size: 1.2vw;
            }
        }
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    .portfolio {
        h2 {
            font-size: 7vw;
        }
        &__category ul li {
            font-size: 2vw;
        }
        &__projects {
            li {
                img {
                    width: 35vw;
                }
                span {
                    width: 7vw;
                    font-size: 1.2vw;
                }
                h4 {
                    font-size: 2vw;
                }
            }
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {
    .portfolio {
        &__header {
            font-size: 11vw;
        }
        &__category ul li {
            font-size: 6vw;
        }
        &__projects {
            li {
                img {
                    width: 50vw;
                }
                h4 {
                    font-size: 6vw;
                }
            }
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 812px) {
    .portfolio {
        &__header {
            font-size: 8vw;
        }
        &__category ul li {
            font-size: 4vw;
        }
        &__projects {
            li {
                img {
                    width: 50vw;
                }
                h4 {
                    font-size: 4vw;
                }
            }
        }
    }
}
