@import "../../utils/variables.scss";

.aside {
    display: grid;
    grid-template-areas:
        " . . ."
        " . photo . "
        " . name-surname ."
        " . position . "
        " . burger-links . "
        " . links . "
        " . button ."
        " . . ."
        " . copyright . ";
    grid-template-columns: auto 26vw auto;
    grid-template-rows: 1vh 18vw 2vw 3vw 4vh 1vh 9vh auto 20px;
    justify-items: center;
    align-items: center;
    width: $aside-width;
    height: $content-height;
    color: $color-white;
    &__photo-wrapper {
        position: relative;
        grid-area: photo;
    }
    &__photo-wrapper::after {
        @extend %-points-aside-img;
    }
    &__photo {
        width: 12vw;
        border: 3px solid $color-white;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__header {
        grid-area: name-surname;
        @extend %h2-title;
        line-height: 1em;
    }
    &__position {
        grid-area: position;
        @extend %h4-title;
    }
    &__burger {
        &-links {
            grid-area: burger-links;
            span {
                transition: all 0.2s linear;
            }
            span:hover {
                color: $border-btn-color;
            }
        }
        &-link {
            margin: 1rem;
        }
    }

    &__social-networks {
        grid-area: links;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: $aside-icons-width-grid;

        .aside__link {
            width: 3vw;
            height: 4vh;
        }
    }
    &__footer {
        grid-area: copyright;
        @extend %copyright;
    }
}

.button {
    grid-area: button;
    border: 2px solid $color-white;
    width: $button-aside-width;
    @extend %btn-font;
    transition: 500ms linear;
}

.button:hover {
    cursor: pointer;
    background-color: $border-btn-color;
    opacity: 0.5;
    transition: 500ms linear;
}

.link-vk,
.link-facebook,
.link-linkedin {
    @extend %icons-props;
}

.link-vk {
    background-image: url("../../images/icons/vk.svg");
}

.link-facebook {
    background-image: url("../../images/icons/facebook.svg");
}

.link-linkedin {
    background-image: url("../../images/icons/linkedin.svg");
}

.link-vk:hover {
    background-image: url("../../images/icons/vk-hover.svg");
}

.link-facebook:hover {
    background-image: url("../../images/icons/facebook-hover.svg");
}

.link-linkedin:hover {
    background-image: url("../../images/icons/linkedin-hover.svg");
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    .aside {
        grid-template-rows: 10vh 21vw 3vw 26px 200px 13vw 0vw auto 20px;
        width: 30vw;
        height: 99vh;
        font-family: "Roboto", sans-serif;

        &__wrapper {
            display: none;
        }

        &__photo {
            width: 15vw;
        }
        &__header {
            font-size: 3vw;
        }

        &__position {
            font-size: 1.7vw;
        }

        &__footer {
            font-size: 1.4vw;
        }

        .button {
            font-size: 1.5vw;
            border: 1px solid white;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
    .aside {
        grid-template-rows: 7px 202px 3px 79px 191px 87px 28px auto 68px;
        grid-template-columns: auto 85vw auto;
        width: 100vw;
        font-family: "Roboto", sans-serif;

        &__wrapper {
            display: none;
        }

        &__photo {
            width: 40vw;
        }

        &__header {
            font-size: 8vw;
        }

        &__position {
            font-size: 5vw;
        }

        &__burger-link {
            font-size: 7vw;
            margin: 2vw;
        }

        &__footer {
            display: none;
        }
        &__social-networks {
            .aside__link {
                width: 12vw;
                height: 7vh;
            }
        }
        .link-vk img {
            height: 2.5vw;
        }

        .button {
            font-size: 3.5vw;
            border: 1px solid white;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 760px) {
    .aside {
        grid-template-areas:
            " . . . . "
            " . photo burger-links . "
            " . name-surname burger-links . "
            " . position burger-links ."
            " . links burger-links . "
            " . button burger-links . "
            " . . . . "
            " . copyright . . ";
        grid-template-rows: 1vh 47vh 7vh 13vh 23vh 1vh auto 1vh;
        grid-template-columns: auto 30vw 30vw auto;
        width: 70vw;
        .aside__link {
            width: 3vw;
            height: 8vh;
        }

        &__photo {
            width: 20vw;
        }

        &__header {
            font-size: 4vw;
        }

        &__position {
            font-size: 3vw;
        }

        &__social-networks {
            .aside__link {
                width: 6vw;
                height: 10vh;
            }
        }

        &__burger {
            &-links {
                font-size: 4.8vw;
            }
        }
        &__footer {
            display: none;
        }
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .aside {
        grid-template-rows: 2px 17vw 8vh 1vh 46vh 1vh auto 1vh;
        &__burger {
            &-links {
                font-size: 3vw;
            }
        }
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .aside {
        &__header {
            font-size: 4vw;
        }

        &__position {
            font-size: 3vw;
        }
        &__social-networks {
            .aside__link {
                width: 6vw;
                height: 5vh;
            }
        }
        grid-template-rows: 50px 17vw 8vh 1vh 46vh 1vh auto 1px;
        &__burger {
            &-links {
                font-size: 4vw;
            }
        }
    }
}
