@import '../../utils/variables.scss';

.main {
    background-color: $main-dark-color;
    border-radius: 35px;
    width: 1300px;
    height: 780px;
}

.scroll-content {
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-right: 15px;
    margin-top: 25px;

    scrollbar-width: thin;
    scrollbar-color: #525353 $main-dark-color;
}



/* width */
.scroll-content::-moz-scrollbar{
 width: 6px;
    border-radius: 50px;
}

.scroll-content::-webkit-scrollbar {
    width: 6px;
    border-radius: 50px;
}

.scroll-content::-webkit-scrollbar-thumb {
    background: #525353;
    border-radius: 50px;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555;
}
