@import "../../utils/variables.scss";

.main {
    width: 40vw;
    height: $content-height;
    border-radius: $content-border-radius;
    background-color: $main-dark-color;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1024px) {
    .main {
        width: 100%;
        height: auto;
        border-radius: 0px;
        background-color: $main-dark-color;
    }
    .scroll-content {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .main {
        height: 110vh;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 812px) {
    .main {
        height: 120vh;
    }
}
