@import "../../utils/variables.scss";

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $block-padding;
    &__header {
        position: relative;
        box-sizing: inherit;
        visibility: visible;
        font-weight: 600;
        font-size: 2vw;
        line-height: 2.5em;
    }
    &__content p {
        text-align: justify;
        text-indent: 3%;
        @extend %content;
    }
    &__skills ul li {
        @extend %content;
    }
    &__skills ul li b {
        font-weight: 700;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .about {
        &__header {
            font-size: 11vw;
        }
        &__content p {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 6vw;
        }
        &__skills ul li {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 6vw;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 812px) {
    .about {
        &__header {
            font-size: 7vw;
        }
        &__content p {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 4vw;
        }
        &__skills ul li {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 4vw;
        }
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .about {
        &__header {
            font-size: 7vw;
        }
        &__content p {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 3vw;
        }
        &__skills ul li {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 3vw;
        }
    }
}
