@import "../../utils/variables.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $home-height;
    &__title {
        @extend %h1-title;
    }
    &__subtitle {
        @extend %h3-title;
    }

    &__stacks {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.6rem;
    }

    &__stack,
    &__stack span {
        padding: 5px;
        font-style: italic;
    }
}


@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .home{
        height: 100vh;
        &__stacks{
            display: none;
        }
    }
}
