@import "../../utils/variables.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $home-height;
    &__title {
        @extend %h1-title;
    }
    &__subtitle {
        @extend %h3-title;
    }

    &__stacks {
        margin-top: 3rem;
        text-align: center;
    }

    &__stack,
    &__stack span {
        padding: 5px;
        font-style: italic;
    }
}
