// colors
$main-dark-color: #242424;
$main-grey-color: #444444;
$mini-window-grey-color: #333333;
$mini-window-border-grey-color: #797979;
$category-active: #cecece;
$category-hover: #b6b6b6;
$category-inactive: #6b6b6b;
$border-btn-color: #04b4e0;
