.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    &__header {
        font-size: 2rem;
        padding: 20px 0;
    }
    &__content p {
        line-height: 1.4em;
        text-align: justify;
        text-indent: 3%;
    }
    &__skills ul li {
        line-height: 1.4em;
        text-indent: 3%;
    }

    &__skills ul li:before {
        content: "-";
        text-indent: 4px;
        position: absolute;
        margin-left: -1.1em;
    }

    &__skills ul li b {
        font-weight: 700;
        font-size: 1rem;
    }
}
