@import "../../utils/variables.scss";

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: $block-padding;
    &__header {
        @extend %h2-title;
    }
    &__content {
        display: flex;
    }
    &__content ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-width: 16vw;
        max-width: 20vw;
        height: 100px;
        margin: 20px;
        border: 1px solid $mini-window-border-grey-color;
        background-color: $mini-window-grey-color;
        font-weight: 400;
        font-size: 1.3vw;
        a {
            transition: all 0.2s linear;
        }
        a:hover {
            color: $border-btn-color;
        }
        img {
            width: 40px;
            filter: invert(54%) sepia(58%) saturate(3084%) hue-rotate(156deg) brightness(100%)
                contrast(97%);
        }
    }
    &__map {
        padding: 20px;
    }
    &__yandex-map {
        width: 14vw;
        height: $yandex-map-height;
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    .contacts {
        &__content ul li {
            width: 20vw;
            font-size: 1.5vw;
        }
        &__yandex-map {
            width: 60vw;
            height: 40vh;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
    .contacts {
        &__header {
            font-size: 4vw;
        }
        &__content {
            flex-direction: column-reverse;
            margin: 0 auto;
        }
        &__content ul li {
            max-width: 80vw;
            height: 80px;
            margin: 10px;
            font-size: 4vw;
        }
        &__yandex-map {
            width: 60vw;
            height: 40vh;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 640px) {
    .contacts {
        &__header {
            font-size: 3vw;
        }
        &__content {
            flex-direction: column-reverse;
            margin: 0 auto;
        }
        &__content ul li {
            max-width: 80vw;
            height: 80px;
            margin: 10px;
            font-size: 3vw;
        }
        &__yandex-map {
            width: 70vw;
            height: 50vh;
        }
    }
}
